/*************************************
  GLOBAL
*************************************/
.axa-logoutbody { background:#FEFEFE url(idun/SiteCollectionImages/bg-bodygrandpublic.jpg) no-repeat scroll 50% 0; font:normal 12px Arial,sans-serif; margin:0; padding:10px 0; }
img { border:none; }
form { margin:0; padding:0; }

  /********** Class mise en page **********/
.spacer { border:0; clear:both; display:block; font-size:1px; height:1px; line-height:1px; margin:0; overflow:hidden; padding:0; }

.axa-clrorange { color:#0E8CA7 !important; }
.axa-clrred { color:red; }

.axa-strong { font-weight:bold; }
.axa-underline { text-decoration:underline !important; }

.axa-lnkblue { color:#0E8CA7 !important; cursor:pointer; text-decoration:underline; }


  /********** Listes **********/
ul.axa-listbulletsquaredarkblue { display:block; height:auto; line-height:15px; list-style-type:none; margin:0; padding:0; width:auto; zoom:1; }
  ul.axa-listbulletsquaredarkblue li { background:transparent url(idun/SiteCollectionImages/bullet-squaredarkblue.gif) no-repeat 0 6px; color:#004188; margin-bottom:2px; padding-left:10px; }

  /********** Bouton **********/
a.axa-btnorange, a.axa-btnorangeinside { background:transparent url(idun/SiteCollectionImages/btn-btnorangeleft.png) no-repeat 0 0; cursor:pointer; display:block; height:30px; margin:0 auto; padding-left:9px; text-decoration:none; }
a.axa-btnorangeinside { background:transparent url(idun/SiteCollectionImages/btn-btnorangeleftwhite.png) no-repeat 0 0; }
a.axa-btnorange span, a.axa-btnorangeinside span { background:transparent url(idun/SiteCollectionImages/btn-btnorangeright.png) no-repeat 100% 0; color:#fff; display:block; font-weight:bold; height:25px; /*height:30px;*/ padding:5px 21px 0 10px; }
a.axa-btnorangeinside span { background:transparent url(idun/SiteCollectionImages/btn-btnorangerightwhite.png) no-repeat 100% 0; }
  .axa-btnretourpanorama { width:147px; }
  .axa-btnretoursommaireactus { width:206px; }
  .axa-btnretouravantagesproduit { width:198px; }
  .axa-btnmodifierdonneessaisies { width:201px; }
  .axa-btnfermer { width:73px; }
  .axa-btninfosfinancieres { width:277px; }
  .axa-btncontinuerdeclration { width:174px; }


.axa-logoutcontainer { background:#f7f7f7; height:auto; margin:0 auto; padding-bottom:14px; position:relative; width:1003px; }


/*************************************
  HEADER
*************************************/
.axa-logoutheader { background:#fff; height:98px; position:relative; width:1003px; }
  .axa-logoutlogo { background:transparent url(idun/SiteCollectionImages/img-logograndpublic.gif) no-repeat 0 0; float:left; height:56px; margin:14px 0 0 14px; width:300px; }
  .axa-logoutclientarea { background:transparent url(idun/SiteCollectionImages/img-imgclientarea.jpg) no-repeat 0 0; display:block; float:right; height:47px; margin:16px 14px 0 0; width:200px; }

  .axa-idunlnkheader { background:transparent url(idun/SiteCollectionImages/bg-idunheaderlnktop.gif) no-repeat 0 0; _display:inline; float:right; height:auto; margin:15px 15px 0 0; padding-top:4px; width:168px; }
    .axa-idunlnkheadercontent { background:transparent url(idun/SiteCollectionImages/bg-idunheaderlnkbottom.gif) no-repeat 0 100%; min-height:54px; /*min-height:65px;*/ height:auto !important; height:54px; /*height:65px;*/ padding:11px 5px 0 18px; width:145px; /*width:168px;*/ }
    .axa-idunlnkheadercontent .spacer { margin:3px 0; }


/*************************************
  BODY
*************************************/
.axa-logoutbodycontent, .axa-logouterrorbodycontent { background:#f7f7f7; height:525px; /*height:535px;*/ padding:10px 14px 0 14px; position:relative; width:975px; /*width:1003px;*/  }
.axa-logouterrorbodycontent { height:auto; }
  h1.axa-logoutbodycontenth1, h1.axa-idunbodycontenth1 { color:#004189; display:block; font-size:22px; height:28px; line-height:20px; *line-height:23px; _line-height:20px; margin:0 0 8px 4px; width:971px; }
  h1.axa-idunbodycontenth1 { _display:inline; float:left; margin-left:120px; width:auto; }
  h1.axa-logoutbodycontenth1 span { color:#0E8CA7; font-size:18px; }
  h1.axa-idunbodycontenth1 a { color:#0E8CA7; }
  h2.axa-logoutbodycontenth2 { color:#0E8CA7; display:block; _display:inline; font-size:14px; font-weight:normal; height:auto; margin:0 0 0 4px; width:971px; } 

  /********** Déconnexion **********/
.axa-bloccolcenter604 { float:left; height:auto; margin-top:4px; width:604px; }
  .axa-bloccolcenter604title { background:transparent url(idun/SiteCollectionImages/bg-bloccontentcolcenter604top.gif) no-repeat scroll 0 0; color:#014189; font-size:1.29em; font-weight:bold; height:20px; /*height:25px;*/ overflow:hidden; padding:5px 0 0 12px;  width:592px; /*width:604px;*/ }
  .axa-bloccolcenter604content { background:transparent url(idun/SiteCollectionImages/bg-bloccontentcolcenter604bottom.gif) no-repeat 0 100%; color:#939393; height:204px; /*height:223px;*/ padding:9px 17px 19px 13px; position:relative; text-align:justify; width:574px; /*width:604px;*/ }

.axa-blocvehicleinsurance { background:#ededec url(idun/SiteCollectionImages/img-logoutbloccontentautoquote.gif) no-repeat 41px 9px; float:left; height:248px; margin:6px 0 0 5px; width:361px; }
.axa-blocvehicleinsurance a { cursor:pointer; display:block; _display:inline; float:left; height:46px; margin:198px 0 0 88px; width:197px; }

.axa-bloccontent1, .axa-bloccontent2, .axa-bloccontent3 { _display:inline; float:left; height:143px; /*height:151px;*/ margin:10px 0 0 8px; padding:8px 0 0 8px; }
.axa-bloccontent1 { background:transparent url(idun/SiteCollectionImages/img-logoutbloccontent1.gif) no-repeat 0 0; width:221px; /*width:229px;*/ }
.axa-bloccontent2 { background:transparent url(idun/SiteCollectionImages/img-logoutbloccontent2.gif) no-repeat 0 0; width:256px; /*width:264px;*/ }
.axa-bloccontent3 { background:transparent url(idun/SiteCollectionImages/img-logoutbloccontent3.png) no-repeat 0 0; width:450px; /*width:458px;*/ }
  .axa-bloccontenttitle { color:#004188; font-size:13px; font-weight:bold; }
  .axa-bloccontenttxt { color:#6b6c6f; float:left; font-size:12px; height:90px; line-height:13px; margin-top:6px; width:auto; }
  .axa-bloccontentimg { background:transparent url(idun/SiteCollectionImages/img-logoutbloccontentjoker.gif) no-repeat 0 0; _display:inline; float:right; height:85px; margin:6px 20px 0 0; width:88px; }
  .axa-blococntentlnk { color:red; height:17px; margin-top:1px; width:213px; }
  .axa-blococntentlnk a { color:#004188; text-decoration:none; }

  /********** Loading **********/
.axa-blocloader { color:#004188; font-size:14px; font-weight:bold; height:auto; padding:80px 0 0; text-align:center; width:100%; }
.axa-blocloader p { margin:30px 0 0; }

  /********** IDOL **********/
.axa-blocglobalidol { background:transparent url(idun/SiteCollectionImages/bg-blocidoltop.gif) no-repeat 0 0; height:6px; width:975px; }
.axa-blocglobalidolcontent, .axa-blocglobaliduncontent { background:transparent url(idun/SiteCollectionImages/bg-blocidolmiddle.gif) repeat-y 0 0; min-height:547px; height:auto !important; height:547px; padding:11px 6px 0 6px; width:963px; /*width:975px;*/  }
.axa-blocglobaliduncontent { min-height:507px; height:auto !important; height:507px; }
  .axa-idolcreatepersonalareasteps { background:#f7f7f6; height:90px; /*height:106px;*/ margin-bottom:15px; padding:8px;  position:relative; width:947px; /*width:963px;*/ }
    .axa-idolcreatepersonalareastep1, .axa-idolcreatepersonalareastep2, .axa-idolcreatepersonalareastep3 { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareastep1.gif) no-repeat 76px 29px; height:90px; width:947px; }
    .axa-idolcreatepersonalareastep2 { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareastep2.gif) no-repeat 76px 29px; }
    .axa-idolcreatepersonalareastep3 { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareastep3.gif) no-repeat 76px 29px; }
      .axa-idolcreatepersonalareastep1off, .axa-idolcreatepersonalareastep2off, .axa-idolcreatepersonalareastep3off { color:#8c8b8b; _display:inline; float:left; height:auto; text-align:center; }  
      .axa-idolcreatepersonalareastep1off { width:150px; margin:26px 0 0 19px; }
      .axa-idolcreatepersonalareastep2off { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareastep2off.gif) no-repeat 0 0; height:24px; /*height:29px;*/ margin-left:158px; padding:5px 0 0 36px; width:235px; /*width:255px;*/ }
      .axa-idolcreatepersonalareastep3off { width:180px; margin:26px 10px 0 0; float:right; }
      .axa-idolcreatepersonalareastep1on, .axa-idolcreatepersonalareastep2on, .axa-idolcreatepersonalareastep3on { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareastep1on.gif) no-repeat 0 0; color:#fff; _display:inline; float:left; font-weight:bold; height:55px; /*height:61px;*/ padding-top:6px; text-align:center; width:183px; }
      .axa-idolcreatepersonalareastep2on { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareastep2on.gif) no-repeat 0 0; height:49px; /*height:61px;*/ margin-left:156px; padding:12px 0 0 51px; text-align:left; width:246px; /*width:297px;*/ }
      .axa-idolcreatepersonalareastep3on { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareastep3on.gif) no-repeat 0 0; float:right; width:199px; }
    
  .axa-idolcreatepersonalareaform { height:auto; position:relative; width:963px; }

.axa-labelright1, .axa-labelright1double, .axa-labelright1doubleline, .axa-labelrightoption, .axa-labelright2, .axa-labelright2double { color: #555555; display: block; float: left; font-size: 12px; height: 21px; line-height: 21px; margin-top: 10px; padding: 0; text-align: right; width: 410px; // au lieu de 120px; }

    .axa-labelrightoption { color:#0E8CA7; margin-top:5px; }
    .axa-labelright2, .axa-labelright2double { font-size:12px; margin-top:5px; width:310px; }
    .axa-spanright1, .axa-spanright1double, .axa-spanauto, .axa-spanautodouble, .axa-spanoption, .axa-spanright2, .axa-spanright2double { color:#555; display:block; _display:inline; float:left; height:21px; line-height:21px; margin-top:10px; padding-left:10px; width:543px; /*width:553px;*/ }
    .axa-spanright1double, .axa-spanright2double { height:28px; }
    .axa-spanauto, .axa-spanautodouble { width:auto; }
    .axa-spanautodouble input { margin-top:4px; *margin-top:3px; }
    .axa-spanoption { color:#4a4a4a; height:auto; line-height:17px; margin-top:5px; width:auto; }
    .axa-spanright2, .axa-spanright2double { margin-top:5px; width:597px; }
    .axa-labelright1double, .axa-labelright2double, .axa-spanautodouble { height:28px; line-height:28px; }
    .axa-labelright1doubleline { height:auto; line-height:14px; margin-left:215px; width:195px; }
    .axa-selecttype1 { color:#555; font-size:12px; height:21px; _height:auto; height:19px\9; *height:auto; _margin-top:1px; width:220px; }
    .axa-inputright1, .axa-inputright2, .axa-inputright2double, .axa-inputright3, .axa-inputright4 { color:#555; font-size:12px; height:15px; *margin-top:-1px; _margin-top:0; width:220px; }
    .axa-inputright2, .axa-inputright2double { width:150px; }
    .axa-inputright3 { width:345px; }
    .axa-inputright4 { width:95px; }
    .axa-inputright2double { margin-top:4px; *margin-top:3px; }
    .axa-checkbox { margin:3px 0 0; padding:0; *margin:0px 0 0 -4px; vertical-align:middle; }
    .axa-lnkhelp { cursor:pointer; float:left; height:26px; margin:9px 0 0 10px; width:26px; }
    .axa-lnkfindnumcontract { color:#0E8CA7; cursor:pointer; float:left; margin:18px 0 0 10px; text-decoration:underline; }
    .axa-inputorangeaccepteretcontinuer, .axa-inputorangeentrezespaceclient, .axa-inputorangecontinuerbig, .axa-inputorangevaliderbig, .axa-inputorangeafficherquestionbig, .axa-inputdargreycontinuerbig { background:transparent url(idun/SiteCollectionImages/btn-btnorangeaccepteretcontinuer.png) no-repeat 0 0; border:none; cursor:pointer; height:39px; width:225px; }
    .axa-inputorangeentrezespaceclient { background:transparent url(idun/SiteCollectionImages/btn-btnorangeentrezespaceclient.png) no-repeat 0 0; width:225px; }
    .axa-inputorangecontinuerbig { background:transparent url(idun/SiteCollectionImages/btn-btnorangecontinuerbig.gif) no-repeat 0 0; width:126px; }
    .axa-inputorangevaliderbig { background:transparent url(idun/SiteCollectionImages/btn-btnorangevaliderbig.jpg) no-repeat 0 0; color:#fff; font-size:12px; font-weight:bold; padding-bottom:12px; width:89px; }
    .axa-inputorangeafficherquestionbig { background:transparent url(idun/SiteCollectionImages/btn-btnorangeafficherquestion.png) no-repeat 0 0; margin-left:316px; width:232px; }
    .axa-inputdargreycontinuerbig { background:transparent url(idun/SiteCollectionImages/btn-btngreycontinuerbig.png) no-repeat 0 0; cursor:default; margin-left:316px; width:123px; }
  .axa-idolcreatepersonalareaformbtn, .axa-idolcreatepersonalareaformbtnleft { height:39px; margin-top:30px; text-align:center; width:100%; }
  .axa-idolcreatepersonalareaformbtnleft { text-align:left; }
  .axa-idolcreatepersonalareahelpbloc { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareahelpbloc-roll.gif) no-repeat 0 0; color:#434242; height:111px; /*height:191px;*/ left:40px; padding:15px 0 0 12px; position:absolute; top:333px; _top:321px; width:920px; /*width:207px;*/ z-index:10; }

  .axa-idolcreatepersonalareacheckemail { background:#fff url(idun/SiteCollectionImages/bg-idolcreatepersonalareacheckemail.gif) no-repeat 0 0; border:6px solid #efeff0; color:#014289; font-size:18px; min-height:92px; height:auto !important; height:92px; /*height:109px;*/ margin:45px auto 0 auto; padding:10px 10px 7px 195px; position:relative; width:606px; /*width:811px;*/ }
  .axa-idolcreatepersonalareacheckemail span { color:#0E8CA7; }
   .axa-idolcreatepersonalareaform {z-index:100 !important;}

  .axa-idolcreatepersonalareasubscriptionfinal { height:auto; margin:0 auto; position:relative; width:917px; }
    .axa-idolcreatepersonalareasubscriptionfinaltitle { color:#414040; font-size:18px; height:auto; margin-left:10px; }
    .axa-idolcreatepersonalareasubscriptionfinaltitle span { color:#0E8CA7; }
    .axa-idolcreatepersonalareasubscriptionfinalsep { background:transparent url(idun/SiteCollectionImages/bg-separatordot.gif) repeat-x 0 0; height:1px; margin:20px 0 10px 70px; width:777px;  }


.axa-idolcreatepersonalareasubscriptionfinala {

    background: url("Idun/SiteCollectionImages/bg-idolcreatepersonalareasubsvalidationfinala.gif") no-repeat scroll 265px 0 transparent;

}





	.axa-idolcreatepersonalareasubscriptionfinalared, .axa-idolcreatepersonalareasubscriptionfinalagreen  { border-style:solid;border-width:1px;width:340px !important;padding:20px 50px !important;margin-left:252px; }
	.axa-idolcreatepersonalareasubscriptionfinalared { border-color:#EE0C0C;}
	.axa-idolcreatepersonalareasubscriptionfinalagreen { border-color:#1fa22e;}
	.axa-spanblocmdpred{margin:0px !important;}
    .axa-idolcreatepersonalareasubscriptionfinalb, .axa-idolcreatepersonalareasubscriptionfinalbdisabled { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareasubsvalidationfinalb.gif) no-repeat 265px 0; margin-top:35px; }
    .axa-idolcreatepersonalareasubscriptionfinalbdisabled { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareasubsvalidationfinalbdisabled.gif) no-repeat 265px 0; }
    .axa-idolcreatepersonalareasubscriptionfinalbdisabled span, .axa-idolcreatepersonalareasubscriptionfinalbdisabled label { color:#c3c3c3 !important; }
    .axa-idolcreatepersonalareasubscriptionfinalc { background:transparent url(idun/SiteCollectionImages/bg-idolcreatepersonalareasubsvalidationfinalc.gif) no-repeat 265px 0; margin-top:35px; }
	.axa-idolcreatepersonalErreurRed{width:442px;min-height:40px;background:#ee0c0c url(idun/SiteCollectionImages/formulaire-icone-refuse.jpg) no-repeat 10px 5px;margin:6px 0 0 252px;}
	.axa-idolcreatepersonalErreurGreen{width:442px;min-height:40px;background:#1fa22e url(idun/SiteCollectionImages/formulaire-icone-validation.jpg) no-repeat 10px 5px;margin:6px 0 0 252px;}
	.axa-idolcreatepersonalErreurRed p{color:#fff; margin:0 0 0 40px;padding:4px 4px 4px 0; font-weight:bold;}
	.axa-idolcreatepersonalErreurGreen p{color:#fff; margin:0 0 0 40px;padding:12px 4px 4px 0; font-weight:bold;}
      .axa-labeltype1 { display:block; _display:inline; float:left; height:19px; line-height:19px; margin-top:8px; padding:0; text-align:right; width:310px; }
      .axa-spanblocmdp { color:#4c4c4c; display:block; _display:inline; font-size:12px; float:left; height:157px; line-height:19px; margin:8px 0 0 310px; padding-left:10px; width:372px; /*width:382px;*/ }
	  .axa-spanblocmdp-speSpace { margin-bottom:30px !important;}
      .axa-spanbloctitle { color:#4c4c4c; display:block; _display:inline; font-size:12px; float:left; height:auto; line-height:14px; margin:5px 0 10px 310px; padding-left:10px; width:auto; }
      .ClavierVirtuel { background:transparent url(idun/SiteCollectionImages/FontClavier.GIF) no-repeat scroll 0 0; height:121px; /*height:127px;*/ margin-top:10px; padding-left:9px; padding-top:6px; width:249px; /*width:258px;*/ }
      .ClavierVirtuel span { display:block; margin-top:-3px; margin-left:-2px; }
      .TableClavier { width:241px; }
      .TableClavier1 { height:93px; }
      .BtnCorrigerIdol { color:#0E8CA7; display:block; float:right; font-weight:normal; height:auto; font-size:11px; margin-top:1px; width:auto; }
      .ImgCorrigerIdol { text-decoration:none; background:transparent url(idun/SiteCollectionImages/pict-erasenumber.gif) no-repeat 0 0; display:block; _display:inline; float:left; height:19px; margin:2px 0 0 37px; width:17px; }
      @media screen and (-webkit-min-device-pixel-ratio:0) {
				.ImgCorrigerIdol {
					margin:2px 0 0 13px;
				}
			}
			.axa-inputtype1 { color:#737373; font-size:10px; height:13px; *margin-top:-1px; _margin-top:0; width:75px; }

.axa-blocpopuphelp { float:left; height:auto; margin-bottom:15px; width:654px; }
  .axa-blocpopuphelpword { height:auto; margin-bottom:10px; width:654px; }
    .axa-blocpopuphelpwordcontainer { background:#dbdbdb; height:19px; width:654px; }
      .axa-blocpopuphelpwordtitle { color:#004188; cursor:pointer; display:block; _display:inline; float:left; font-size:11px; font-weight:bold; margin-left:13px; overflow:hidden; padding:3px 0 0 0; text-decoration:none; width:auto; }
      .axa-blocpopuphelpwordlnkopen, .axa-blocpopuphelpwordlnkclose { background:transparent url(idun/SiteCollectionImages/bg-blochelpidolopen.gif) no-repeat 0 0; cursor:pointer; float:right; height:5px; margin:7px 9px 0 10px; width:23px; }
      .axa-blocpopuphelpwordlnkclose { background:transparent url(idun/SiteCollectionImages/bg-blochelpidolclose.gif) no-repeat 0 0; }
    .axa-blocpopuphelpwordcontent { background:#fff; color:#5c5b5b; font-size:11px; line-height:14px; height:auto; padding:5px 10px 2px 10px; width:634px; /*width:654px;*/ }
    .axa-blocpopuphelpwordcontent img { margin:8px 0; }

.axa-blocglobalidolbottom { background:transparent url(idun/SiteCollectionImages/bg-blocidolbottom.gif) no-repeat 0 0; height:26px; width:975px; }
  

  /********** IDUN **********/
.axa-idunimglocker { background:transparent url(idun/SiteCollectionImages/img-idunlocker.gif) no-repeat 0 0; height:76px; left:30px; position:absolute; top:2px; width:98px; z-index:100; }
.axa-idunbloclnkhelp { _display:inline; float:right; height:auto; margin-right:15px; width:auto; }
.axa-idunwarningmsg { background:transparent url(idun/SiteCollectionImages/bg-idunwarningmsg.gif) repeat-y 0 0; color:#cc3300; font-weight:bold; font-size:12px; height:auto; margin:15px auto 10px auto; padding:10px 0; position:relative; text-align:center; width:954px; }
.axa-blocglobalidun { background:transparent url(idun/SiteCollectionImages/bg-idunblocglobal.gif) no-repeat 370px 10px; min-height:455px; height:auto !important; height:455px; margin-top:15px; width:975px; }
  h2.axa-idunh2, h2.axa-idunh3 { color:#014189; display:block; _display:inline; font-size:18px; font-weight:normal; height:auto; margin:0; width:100%; } 
  h3.axa-idunh3 { color:#797979; font-size:16px; font-weight:normal; margin:10px 0 8px 0; }
  h3.axa-idunh3 span { color:#014189; font-weight:bold; }
  .axa-iduncolleft { _display:inline; float:right; height:auto; margin-left:40px; width:537px; }
    .axa-induninputpersonalid { color:#797979; _display:inline; float:left; font-size:16px; font-weight:bold; height:auto; line-height:16px; margin:15px 0 0 104px; width:auto; }
    input.axa-inputidun { color:#555; background:fff; border:4px solid #d5d5d5; font-size:12px; float:left; height:16px; margin:8px 0 0 5px; padding:2px; width:200px; }
    .axa-idunlogformbtn { _display:inline; float:left; height:39px; margin:0 0 25px 249px; *margin-left:118px; _margin-left:236px; width:94px; }
  .axa-iduncolright { _display:inline; float:left; height:auto; margin-left:40px; width:323px; }
    .axa-radio, .axa-radiodouble { float:left; height:19px; margin:0 5px 10px 25px; *margin-right:0; padding:0; width:auto; }
    .axa-radiodouble { margin-top:5px; }
    .axa-labelradio { color:#4d4d4d; display:block; _display:inline; float:left; font-size:14px; font-weight:normal; height:19px; line-height:19px; margin:0 0 10px 5px; padding:0; text-align:left; width:auto; }
    .axa-iduncreateclientareaformbtn { height:80px; margin:8px 0 8px -60px; _margin-bottom:5px; text-align:center; width:auto; }
      .axa-inputdarkbluecreezespaceclient { background:transparent url(idun/SiteCollectionImages/btn-btndarkbluecreezespaceclient.jpg) no-repeat 0 0; border:none; margin-bottom:5px; color:#fff; cursor:pointer; font-size:12px; font-weight:bold; height:40px; padding-bottom:3px; width:213px;}
    .axa-idunblocadvertise { background:transparent url(idun/SiteCollectionImages/bg-idunblocadvertise.jpg) no-repeat 0 0; color:#fff; font-size:16px; font-weight:bold; height:201px; /*height:211px;*/ margin:0 auto; padding:10px 0 0 13px; width:310px; /*width:323px;*/ }
    .axa-idunblocadvertise ul { list-style-type:none; margin:6px 0 14px 5px; padding:0; width:auto; zoom:1; }
    .axa-idunblocadvertise ul li { background:transparent url(idun/SiteCollectionImages/bullet-circlegrey.gif) no-repeat 0 5px; font-size:12px; height:17px; margin-bottom:2px; *margin-bottom:0px; padding-left:12px; }
    .axa-idunblocadvertise a { color:#fff; text-decoration:none; }


/*************************************
  FOOTER
*************************************/
.axa-logoutfooter { height:19px; margin-top:25px; padding:0; position:relative; width:975px; }
  .axa-logoutfooterlnk, .axa-logoutfooterlnk2 { background:transparent url(idun/SiteCollectionImages/bg-footer.jpg) repeat-x 0 0; color:#333333; font-size:10px; height:22px; /*height:19px;*/ padding-top:9px; position:relative; text-align:center; width:975px; }
  .axa-logoutfooterlnk2 a { color:#093b6c; margin:0 12px; text-decoration:none; }
  .axa-footercopyright { color:#666666; display:block; left:12px; position:absolute; top:9px; height:auto; }
  .axa-idollnkfooter, .axa-idollnkfooterwhite, .axa-idollnkfooterhelp, .axa-idollnkfooterhelpsec { color:#333333; display:block; _display:inline; float:left; font-weight:bold; height:14px; text-decoration:none; width:auto; }
  .axa-idollnkfooterwhite { color:#333333; }
  .axa-idollnkfooterhelp, .axa-idollnkfooterhelpsec { background:#707070; color:#fff !important; margin-left:380px; margin-right:-10px; padding:0 10px; }
  .axa-idollnkfooterhelpsec { padding:0 5px; margin-left:297px; margin-right:10px; }
  .axa-idollnkfootersep { display:block; float:left; height:auto; margin:0 12px; width:auto; }
  
   /*************************************
   Added Form themes public
*************************************/ 
 .axa-formmsgerror{ clear:left; color:red; display:block; font-weight:bold; font-size:10px; height:auto; width:99%; margin-left: 420px;}
.axa-validationDemandeFont{ background:#fffurl(idun/SiteCollectionImages/bg-idolcreatepersonalareacheckemail.gif) no-repeat 0 0; border:6px solid #efeff0; color:#014289; font-size:18px; min-height:92px; height:auto !important; height:92px; /*height:109px;*/ margin:45px auto 0 auto; padding:10px 10px 7px 195px; position:relative; width:606px; /*width:811px;*/ }
.axa-inputorangequestionnaire { background:url("idun/SiteCollectionImages/btn-btnorangequestionnaireinvestisseurwhite.png") no-repeat scroll 0 0 transparent; border:medium none; cursor:pointer; height:32px; width:230px; }
.axa-inputorangeannulerwhite { background:transparent url(idun/SiteCollectionImages/btn-btnorangeannulerwhite.png) no-repeat 0 0; width:93px;height:30px;  border:none; cursor:pointer;  }

      /********** IDOL **********/
.axa-idolpopuptxt { color:#575656; font-size:14px; margin-left:26px; width:500px; }
.axa-idolpopuptxt span { color:#ff6600; font-weight:bold; }
.axa-idolpopupblocnum { background:#efefef url(idun/SiteCollectionImages/bg-idolpopupblocnum.png) no-repeat 7px 7px; color:#575656; font-size:14px; font-weight:bold; height:80px; /*height:120px;*/ margin:15px 0; padding:40px 0 0 235px; width:325px; /*width:560px;*/ }
.axa-idolpopupblocnum span { color:#ff6600; font-size:18px; }
   
 /******************************************************
				LIGHTBOX
	******************************************************/
div#lightbox-overlay { background:#fff; display:none; filter:alpha(opacity=60); height:100%; left:0; opacity:0.6; position:absolute; top:0; width:100%; z-index:1000; }
div#axaPopupIdolConnection { display:none; left:50%; margin:0 auto; margin-left:-320px; margin-top:-280px; padding:15px 30px; position:absolute; top:50%; }

  /********** Popup **********/
.axa-popupwindow485 { height:auto; position:absolute; width:485px; z-index:1000; }
  .axa-popupwindow485title { background:transparent url(idun/SiteCollectionImages/bg-popupwindow485top.png) no-repeat 0 0; color:#606060; font-weight:bold; height:19px; /*height:26px;*/ overflow:hidden; padding:7px 0 0 12px; width:473px; /*width:485px;*/ }
  .axa-popupwindow485content { background:transparent url(idun/SiteCollectionImages/bg-popupwindow485bottom.png) no-repeat 0 100%; color:#939393; height:auto; padding:8px 14px 14px 11px; width:460px; /*width:485px;*/ }
    .axa-popupwindow485introtxt { float:left; width:424px; }
  .axa-popupwindow485btn { height:30px; position:relative; text-align:center; width:460px; }
.axa-popupwindow585 { height:auto; position:absolute; width:585px; z-index:1000; }
  .axa-popupwindow585title { background:transparent url(idun/SiteCollectionImages/bg-popupwindow585top.png) no-repeat 0 0; color:#606060; font-weight:bold; height:19px; /*height:26px;*/ overflow:hidden; padding:7px 0 0 12px; width:573px; /*width:585px;*/ }
  .axa-popupwindow585content, .axa-popupwindow585contentnopad { background:transparent url(idun/SiteCollectionImages/bg-popupwindow585bottom.png) no-repeat 0 100%; color:#939393; height:auto; padding:8px 14px 14px 11px; width:560px; /*width:585px;*/ }
  .axa-popupwindow585contentnopad { padding:8px 5px 14px 1px; width:579px; /*width:585px;*/ }
    .axa-popupwindow585introtxt { color:#606060; float:left; font-size:11px; width:524px; }
      .axa-popupwindow585introtxt ul { color:#939393; font-size:10px; list-style-type:none; margin:0; padding:0; }
    .axa-popupwindow585introtxtpad { padding:0 10px; }
    .axa-popupwindow585separator { background:transparent url(idun/SiteCollectionImages/bg-popupwindow585separator.gif) no-repeat 0 0; height:3px; margin:10px 0; width:560px; }
  .axa-popupwindow585formnopad { background:#f5f5f5; height:auto; margin:10px 0; padding:8px 10px; position:relative; width:559px; /*width:579px;*/ }
    .axa-popupwindow585formnopadtitle { color:#939393; font-weight:bold; margin-bottom:6px; }
 .axa-popupwindow585btn { height:30px; position:relative; text-align:center; width:560px; }
.axa-popupwindow975 { height:auto; position:absolute; width:975px; }
.axa-popupwindow975title { background:transparent url(idun/SiteCollectionImages/bg-popupwindow975top.png) no-repeat 0 0; color:#606060; font-weight:bold; height:19px; /*height:26px;*/ overflow:hidden; padding:7px 0 0 12px; width:963px; /*width:975px;*/ }
.axa-popupwindow975content { background:transparent url(idun/SiteCollectionImages/bg-popupwindow975bottom.png) no-repeat 0 100%; color:#939393; height:auto; padding:8px 14px 14px 11px; width:950px; /*width:975px;*/ }
.axa-popupwindow975btn { height:30px; position:relative; text-align:center; width:950px; }
.axa-popupwindowclose { cursor:pointer; display:block; _display:inline; float:right; height:17px; margin:-2px 14px 0 0; width:17px; }
.axa-popupwindowlnkpictprint { display:block; float:left; height:26px; margin:0 0 3px 10px; width:26px; }


  /********** Popup **********/
.axa-popupwindow715 { height:auto; position:absolute; width:715px; z-index:1000; }
  .axa-popupwindow715title { background:transparent url(idun/SiteCollectionImages/bg-popupwindow715top.png) no-repeat 0 0; color:#606060; font-weight:bold; height:19px; /*height:26px;*/ overflow:hidden; padding:7px 0 0 12px; width:703px; /*width:715px;*/ }
  .axa-popupwindow715content, .axa-popupwindow715contentnopad { background:transparent url(idun/SiteCollectionImages/bg-popupwindow715bottom.png) no-repeat 0 100%; color:#939393; height:auto; padding:8px 14px 14px 11px; width:690px; /*width:715px;*/ }
  .axa-popupwindow585contentnopad { padding:8px 5px 14px 1px; width:709px; /*width:715px;*/ }
    .axa-popupwindow715introtxt { color:#606060; float:left; font-size:11px; width:654px; }
    .axa-popupwindow715introtxtpad { padding:0 10px; }
  .axa-popupwindow715btn { height:30px; position:relative; text-align:center; width:690px; }

.axa-popupwindowclose { cursor:pointer; display:block; _display:inline; float:right; height:17px; margin:-2px 14px 0 0; width:17px; }
.axa-popupwindowlnkpictprint { display:block; float:left; height:26px; margin:0 0 3px 10px; width:26px; }
.axa-utilisez-votre-espace-client {background:url("idun/SiteCollectionImages/bg-home-espace-client.jpg") no-repeat scroll center top #747685; color:#FEFEFE; margin:15px 0 25px; min-height:135px; width:324px; }
.axa-titre-home-espace-client { color:#fff; font-size:16px; margin:0; padding:10px 0 0 15px; }
.axa-utilisez-votre-espace-client ul { margin:0; padding:2px 0 0; }
.axa-utilisez-votre-espace-client li { color:#FEFEFE; font-size:12px; font-weight:bold; list-style-type:none; margin:4px 0 0 28px; padding:0; }