.zzvisiteurcolor
{
background-color:#3F7790;
}

.zzvisiteurbas
{
background-color:#409FBF;
}

.zzvisiteurtitre
{
font-family:arial,helvetica,sans-serif;
font-size:28px;
font-weight:bold;
color:#FFFFFF;
font-style:none;
}
.zzvisiteurtitre a:link
{
font-family:arial,helvetica,sans-serif;
font-size:28px;
font-weight:bold;
color:#FFFFFF;
font-style:none;
}
.zzvisiteurtitre a:visited
{
font-family:arial,helvetica,sans-serif;
font-size:28px;
font-weight:bold;
color:#FFFFFF;
font-style:none;
}
.zzvisiteurtitre a:active
{
font-family:arial,helvetica,sans-serif;
font-size:28px;
font-weight:bold;
color:#FFFFFF;
font-style:none;
}
.zzvisiteurtitre a:hover
{
font-family:arial,helvetica,sans-serif;
font-size:28px;
font-weight:bold;
color:#FFFFFF;
font-style:none;
}

.zzvisiteurtxtfort
{
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
}

.zzvisiteurtxtfort a:link
{
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
}

.zzvisiteurtxtfort a:visited
{
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
}

.zzvisiteurtxtfort a:active
{
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
}
.zzvisiteurtxtfort a:hover
{
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
}

.zzfiscal1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;
	}
.zzfiscal1 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;
	}
.zzfiscal1 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;
	}
.zzfiscal1 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;
	}

.zzfiscal2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	list-style-type: disc;
	text-decoration: none;}
.zzfiscal2 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	list-style-type: disc;
	text-decoration: none;}
.zzfiscal2 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	list-style-type: disc;
	text-decoration: none;}
.zzfiscal2 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	list-style-type: disc;
	text-decoration: none;}

/* ZONE COMMERCIALE TAB BORD */
.zzcomblanc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;}
.zzcomblanc a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;}
.zzcomblanc a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;}
.zzcomblanc a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;}
.zzcomblanc a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;}

.zzcombleu1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #409FBF;}
.zzcombleu1 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #409FBF;}
.zzcombleu1 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #409FBF;}
.zzcombleu1 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #409FBF;}
.zzcombleu1 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #409FBF;}

.zzcombleu2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;}
.zzcombleu2 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;}
.zzcombleu2 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;}
.zzcombleu2 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;}
.zzcombleu2 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;}
	
.zzguidefiscal0 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;}
.zzguidefiscal0 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;}
.zzguidefiscal0 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;}
.zzguidefiscal0 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;}

.zzoptionsinternetpro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
                text-align: center;
	background-color: #3F7790;}
.zzoptionsinternetpro a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;
                text-align: center;
	text-decoration : none}
.zzoptionsinternetpro a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;
                text-align: center;
	text-decoration : none}
.zzoptionsinternetpro a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #3F7790;
                text-align: center;
	text-decoration : none}

.zzbgsabletxtrougebig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #BF172F;
	font-weight: bold;
                text-align: center;
	background-color: #CCCC66;}
.zzbgsabletxtrougebig a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #BF172F;
	font-weight: bold;
	background-color: #CCCC66;
                text-align: center;
	text-decoration : none}
.zzbgsabletxtrougebig a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #BF172F;
	font-weight: bold;
	background-color: #CCCC66;
                text-align: center;
	text-decoration : none}
.zzbgsabletxtrougebig a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #BF172F;
	font-weight: bold;
	background-color: #CCCC66;
                text-align: center;
	text-decoration : none}

.zzbgkakitxtorangebig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFCC33;
	font-weight: bold;
                text-align: center;
	background-color: #666600;}
.zzbgkakitxtorangebig a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFCC33;
	font-weight: bold;
	background-color: #666600;
                text-align: center;
	text-decoration : none}
.zzbgkakitxtorangebig a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFCC33;
	font-weight: bold;
	background-color: #666600;
                text-align: center;
	text-decoration : none}
.zzbgkakitxtorangebig a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFCC33;
	font-weight: bold;
	background-color: #666600;
                text-align: center;
	text-decoration : none}

.zzoptions0 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #C50024;
	font-weight: bold;
                text-align: center;
	background-color: #FFFFFF;}
.zzoptions0 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;
                text-align: center;
	text-decoration : none}
.zzoptions0 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;
                text-align: center;
	text-decoration : none}
.zzoptions0 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #C50024;
	font-weight: bold;
	background-color: #FFFFFF;
                text-align: center;
	text-decoration : none}

.zzcomcontour {
	position:absolute;
	visibility:hidden;
	z-index:4;
	top:20px;
	left:0px;
	width:300px;
	height:400px;}
	
.zzcommarge {
	margin-left: 8px;
	clear: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;}

/* Nouvelle identification */
div#zzbig { height: 349px; }
div#zzbandeaux { height: 208px; overflow: hidden; }
div.zzbandeaux_plus { margin-top: 2px; }
div#zzvisiteurs1 { margin-top: 2px; padding: 1px; background-color: #48a; }
div#zzvisiteurs2 { height: 125px; _height: 137px; }
div#zzvisiteurs2 {
	padding: 5px 10px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: #49b;
	}
div#zzboutonvisiteurs { clear: none; mmargin-top: 10px; }
div#zztextevisiteurs { clear: both; font-weight: bold; text-align: justify; }
input.zzform_button { background-color: #a22; }

/* Telecommande */
.styItem1Com-niv1 {
	text-align: left;
	padding-left: 2px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-color: #447799;}

.styItem1Com-niv2 {
	text-align: left;
	padding-left: 2px;
	font-size: 11px;
	background-color: #eeeeee;}

.styItem1Com-niv2 a, .styItem1Com-niv2 a:visited {
	color: #b01720;}

.styItem1Com-niv2 a:hover {
	text-decoration: underline;
	color: #b01720;	}