#tc_tclavier {
 width: 96px;
 height: 92px;
 margin: 5px ; padding: 0;
 position: relative;
}

#tc_tclavier li {margin: 0; padding: 0; list-style: none; position: absolute; }

#tc_tclavier li, #tc_tclavier a {height: 23px; display: block;}
#touche11 {left: 0; top: 0px; width: 24px;}
#touche12 {left: 24px; top: 0px; width: 24px;}
#touche13 {left: 48px; top: 0px; width: 24px;}
#touche14 {left: 72px; top: 0px; width: 24px;}
#touche21 {left: 0; top: 23px; width: 24px;}
#touche22 {left: 24px; top: 23px; width: 24px;}
#touche23 {left: 48px; top: 23px; width: 24px;}
#touche24 {left: 72px; top: 23px; width: 24px;}
#touche31 {left: 0; top: 46px; width: 24px;}
#touche32 {left: 24px; top: 46px; width: 24px;}
#touche33 {left: 48px; top: 46px; width: 24px;}
#touche34 {left: 72px; top: 46px; width: 24px;}
#touche41 {left: 0; top: 69px; width: 24px;}
#touche42 {left: 24px; top: 69px; width: 24px;}
#touche43 {left: 48px; top: 69px; width: 24px;}
#touche44 {left: 72px; top: 69px; width: 24px;}


#touche11 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche11 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche12 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche12 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche13 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche13 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche14 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche14 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche21 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche21 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche22 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche22 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche23 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche23 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche24 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche24 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche31 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche31 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche32 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche32 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche33 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche33 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche34 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche34 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche41 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche41 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche42 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche42 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche43 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche43 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche44 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche44 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}

.dropshadow{
	float:left;
	clear:left;
}


.innerbox{
	position:relative;
	bottom:6px;
	right: 6px;
	border: 0px solid #999999;
	margin: 0px 0px 0px 0px;

}


.fondnoir {
background: black;
color: white;
  text-align: center;
}

.fondgris {
background: gray;
}

.clcvcs {
border-collapse:collapse;
width: 229px;
height: 192px;
border: 0;
margin: 0;
padding: 0;
}

.clcvcs td,tr {
  border: 0;
  margin: 0;
  padding: 0;
}

.haut {
	background-image: url("/img/cvcs/tc_haut.gif");
	background-repeat: no-repeat;
	background-position: top left;
	height: 24px;
	text-align: right;
}

.haut div {
  margin-right: 15px;
}

.haut img {
	margin-top: 6px;
    border: 0;
}

#tc_fond {
	background-image: url("/img/cvcs/tc_fond.gif");
	background-repeat: no-repeat;
	background-position: top left;
	height: 168px;
	z-index: 150;
	filter:alpha(opacity:56);
	-moz-opacity: 0.56;
	KHTMLopacity:0.56;
    -khtml-opacity:0.56;
	opacity:0.56;
}
#tc_text {
	position: absolute;
	width: 229px;
	z-index: 200;
    border:0;
    margin:0;
    padding:0;
}
#tc_votre_code {
	margin-left: 21px;
	margin-top: 9px;
    margin-bottom: 0;
    border:0;
    padding:0;
}
#tc_pass {
	margin-left: 21px;
	margin-top: 7px;
	margin-bottom: 7px;
    border:0;
    padding:0;
}
#tc_pass input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid black;
	background-color: #F5F7F6;
    padding: 0;
    height: 18px;
	width: 94px;
}
#tc_pass img {
	vertical-align: top;
    border:0;
    margin:0;
    padding:0;
}
#tc_pass table {
   border-collapse:collapse;
   border:0;
   margin:0;
   padding:0;
}
#tc_aideimg {
  text-align: left;
}

#tc_clavier {
    border-collapse:collapse;
	aaawidth: auto;
    border:0;
    margin-top: 2px;
	margin-left: 22px;
    padding:0;
}
#tc_clavier td {
	border: 0;
}

#tc_corriger {
  border:0;
}

#tc_boutons {
  position:absolute;
  left: 137px;
  top:102px;
  z-index:300;
}

#tc_valider {
  border:0;
  margin-top: 6px;
}

.cvcslienbouton {color:black; text-decoration: none;}

