body, table, td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;  
  color: black;
  text_decoration: none;  
}
table {
  border-collapse: collapse;
}
td, img {
  border: none;
  padding: 0;
  border: 0;
}
.bandeaunoir {
  background-color: black;
  color: white;  
  text-decoration: none;
}
A.bandeaunoir:hover {
  text-decoration: underline;
}
.titactu {
  color: #4EA0B5;
  font-size: 11px;
}
.focus {
  background-color: #69B3C4;
  color: white;
  text-decoration: none;
}
.premier_focus {  
  color: white;
  text-decoration: none;
}
A.focus:hover {
  text-decoration: underline;
}
A.premier_focus:hover {
  text-decoration: underline;
}
.itemcell {
  color: white;  
  border-bottom: 1px dotted white;
  text-decoration: none;
}
.item {
  font-size: 11px; 
  color: white;    
  text-decoration: none;
}
A.item:hover {
  text-decoration: underline;
}
.champscode {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;  
  background-color: #F5F7F6;  
  color: #000000;
  width: 85px;
}