


<table class="tableCompte" cellpadding="0" cellspacing="0" summary="Liste des contrats/comptes LiquiditÈs">

	<tr class="libelle">
		<td width="5%">&nbsp;
		</td>
		<td width="36%">
			LibellÈ
			<a id="idtrilblLabel_0" href="https://www.secure.bnpparibas.net/banque/portail/particulier/FicheA?execution=e1s1&pageId=unedescomptesnode&_eventId=sort&id=30004024990000078930948&sort=customizedLongLabel&dir=asc">
				<img class="triLibelle" src="https://www.secure.bnpparibas.net//rsc/ia/overview/images/flechesTri.png" alt="Tri" />
			</a>
		</td>
		<td width="20%" align="center" width="20%">
			N&deg; de compte
			<a id="idtrilblNumber_0" href="https://www.secure.bnpparibas.net/banque/portail/particulier/FicheA?execution=e1s1&pageId=unedescomptesnode&_eventId=sort&id=30004024990000078930948&sort=number&dir=desc">
				<img class="triLibelle" src="https://www.secure.bnpparibas.net//rsc/ia/overview/images/flechesTri.png" alt="Tri" />
			</a>
		</td>
		<td width="17%" align="right" width="10%">
			Solde
			<a id="idtrilblBalance_0" href="https://www.secure.bnpparibas.net/banque/portail/particulier/FicheA?execution=e1s1&pageId=unedescomptesnode&_eventId=sort&id=30004024990000078930948&sort=balance&dir=asc">
				<img class="triSolde" src="https://www.secure.bnpparibas.net//rsc/ia/overview/images/flechesTri.png" alt="Tri" />
			</a>
		</td>
		<td width="17%" align="right" width="10%">
			A venir 
			<a id="idlblPendingBalance_0" href="https://www.secure.bnpparibas.net/banque/portail/particulier/FicheA?execution=e1s1&pageId=unedescomptesnode&_eventId=sort&id=30004024990000078930948&sort=pendingBalance&dir=asc">
				<img class="triAVenir" src="https://www.secure.bnpparibas.net//rsc/ia/overview/images/flechesTri.png" alt="Tri" />
			</a>
		</td>
		<td width="5%">&nbsp;</td>
	</tr>
	<tr>
		<td class="typeTitulaire"><div><img src="https://www.secure.bnpparibas.net//rsc/ia/overview/images/compte_profileCouple.gif" alt=" 4" onmouseover="javascript:affichageCompte(this,'  RIVE','2.088,23','0,00','PHM','30004024990000078930948','releveoperations');" onmouseout="javascript:masquageCompte();"/></div>
		</td>
		<td class="libelleCompte">
			<a href="#" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'" onclick="javascript:goToStatements('30004024990000078930948','1','releveoperations');">Compte de chËques</a>
			<input type="hidden" name="libelleCompte30004024990000078930948" id="libelleCompte30004024990000078930948" value="Compte de chËques"/>
		</td>
		<td align="center" class="libelleCompte">***** *******9309</td>
		<td class="positif">
			<a href="#" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'" onclick="javascript:goToStatements('30004024990000078930948','1','releveoperations');" style="text-decoration:none;color:blue;">
				2.088,23&nbsp;&#x20ac;
			</a>
		</td>
		<td nowrap class="positif">
			<a href="#" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'" onclick="javascript:goToStatements('30004024990000078930948','2','mouvementsavenir');" style="text-decoration:none;color:blue;">
				0,00&nbsp;&#x20ac;
			</a>
		</td>
		<td class="btnAction"><a class="openAction"><img src="/rsc/ia/particulier/images_outil/plus.png" alt="Actions" /></a></td>
	</tr>
	<tr class="listeActionBig">
		<td colspan="6">
			<div class="listeActionBig" style="width: 640px;"><div class="actionLayer">Personnaliser le libellÈ</div><a href="javascript:overviewRedirectionOperation('PersoLibelle#PersoLibelle#30004024990000078930948','FR7630004024990000078930948',false)"  id="persoFR7630004024990000078930948" class="lien_perso_libelle" ></a><div class="actionLayer">RelevÈ d'opÈrations</div><a href="javascript:goToStatements('30004024990000078930948','1','releveoperations')" class="lien_consulter_releves" id="perso30004024990000078930948"></a><div class="actionLayer">RelevÈ d'opÈrations ‡ venir</div><a href="javascript:goToStatements('30004024990000078930948','2','mouvementsavenir')" class="lien_releves_aVenir"   id="perso30004024990000078930948"></a><div class="actionLayer">Virement unitaire</div><a href="javascript:overviewRedirectionOperation('/NSFR?Action=DSP_VIR&ch4=FR7630004024990000078930948#CreationVU','02499 00000789309',false)" class="lien_vir_unitaire" ></a><div class="actionLayer">Vos virements permanents</div><a href="javascript:overviewRedirectionOperation('/banque/portail/particulier/especes/vpe?action=restitution&selectCompte=02499 00000789309#ConsultationVP','02499 00000789309',false)" class="lien_vir_permanent" ></a><div class="actionLayer">CrÈer virement permanent</div><a href="javascript:overviewRedirectionOperation('/banque/portail/particulier/especes/vpe?action=creation&selectCompte=02499 00000789309#CreationVP','02499 00000789309',false)" class="lien_virement_versement" ></a><div class="actionLayer">Imprimer RIB</div><a href="javascript:overviewRedirectionOperation('/RIBIP?ch4=FR7630004024990000078930948&ch5=6#ImpressionRIB','02499 00000789309',false)" class="lien_rib" ></a><div class="actionLayer">Contrats associÈs</div><a href="javascript:overviewRedirectionOperation('/NSFR?Action=SAF_PRES&ch4=FR7630004024990000078930948#ContratsAssocies','02499 00000789309',false)" class="lien_contrats_associes" ></a><div class="actionLayer">TÈlÈcharger</div><a href="javascript:overviewRedirectionOperation('/NSFR?Action=ASK_TELE&ch4=FR7630004024990000078930948#Telecharger','02499 00000789309',false)" class="lien_telecharger" ></a></div>
		</td>
	</tr>
	<tr>
		<td class="typeTitulaire"><div><img src="https://www.secure.bnpparibas.net//rsc/ia/overview/images/compte_profileM.gif" alt=" 1" onmouseover="javascript:affichageCompte(this,'M. BRICE MICHEL BRUNO RIVE','600,00','0,00','PHM','30004024990000078979448','releveoperations');" onmouseout="javascript:masquageCompte();"/></div>
		</td>
		<td class="libelleCompte">
			<a href="#" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'" onclick="javascript:goToStatements('30004024990000078979448','1','releveoperations');">Compte de chËques</a>
			<input type="hidden" name="libelleCompte30004024990000078979448" id="libelleCompte30004024990000078979448" value="Compte de chËques"/>
		</td>
		<td align="center" class="libelleCompte">***** *******9794</td>
		<td class="positif">
			<a href="#" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'" onclick="javascript:goToStatements('30004024990000078979448','1','releveoperations');" style="text-decoration:none;color:blue;">
				600,00&nbsp;&#x20ac;
			</a>
		</td>
		<td nowrap class="positif">
			<a href="#" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'" onclick="javascript:goToStatements('30004024990000078979448','2','mouvementsavenir');" style="text-decoration:none;color:blue;">
				0,00&nbsp;&#x20ac;
			</a>
		</td>
		<td class="btnAction"><a class="openAction"><img src="/rsc/ia/particulier/images_outil/plus.png" alt="Actions" /></a></td>
	</tr>
	<tr class="listeActionBig">
		<td colspan="6">
			<div class="listeActionBig" style="width: 640px;"><div class="actionLayer">Personnaliser le libellÈ</div><a href="javascript:overviewRedirectionOperation('PersoLibelle#PersoLibelle#30004024990000078979448','FR7630004024990000078979448',false)"  id="persoFR7630004024990000078979448" class="lien_perso_libelle" ></a><div class="actionLayer">RelevÈ d'opÈrations</div><a href="javascript:goToStatements('30004024990000078979448','1','releveoperations')" class="lien_consulter_releves" id="perso30004024990000078979448"></a><div class="actionLayer">RelevÈ d'opÈrations ‡ venir</div><a href="javascript:goToStatements('30004024990000078979448','2','mouvementsavenir')" class="lien_releves_aVenir"   id="perso30004024990000078979448"></a><div class="actionLayer">Imprimer RIB</div><a href="javascript:overviewRedirectionOperation('/RIBIP?ch4=FR7630004024990000078979448&ch5=6#ImpressionRIB','02499 00000789794',false)" class="lien_rib" ></a><div class="actionLayer">Contrats associÈs</div><a href="javascript:overviewRedirectionOperation('/NSFR?Action=SAF_PRES&ch4=FR7630004024990000078979448#ContratsAssocies','02499 00000789794',false)" class="lien_contrats_associes" ></a><div class="actionLayer">TÈlÈcharger</div><a href="javascript:overviewRedirectionOperation('/NSFR?Action=ASK_TELE&ch4=FR7630004024990000078979448#Telecharger','02499 00000789794',false)" class="lien_telecharger" ></a></div>
		</td>
	</tr>
	<tr class="total">
		<td>&nbsp;</td>
		<td align="right">TOTAL DES LIQUIDIT…S</td>
		<td>&nbsp;</td>
		<td class="solde"> 2.688,23&nbsp;&#x20ac;</td>
		<td class="solde">
			0,00&nbsp;&#x20ac;
		</td>
		<td>&nbsp;</td>
	</tr>
</table>
