#tc_tclavier {
 width: 96px;
 height: 92px;
 margin: 5px ; padding: 0;
 position: relative;
}

#tc_tclavier li {margin: 0; padding: 0; list-style: none; position: absolute; }

#tc_tclavier li, #tc_tclavier a {height: 23px; display: block;}
#touche11 {left: 0; top: 0px; width: 24px;}
#touche12 {left: 24px; top: 0px; width: 24px;}
#touche13 {left: 48px; top: 0px; width: 24px;}
#touche14 {left: 72px; top: 0px; width: 24px;}
#touche21 {left: 0; top: 23px; width: 24px;}
#touche22 {left: 24px; top: 23px; width: 24px;}
#touche23 {left: 48px; top: 23px; width: 24px;}
#touche24 {left: 72px; top: 23px; width: 24px;}
#touche31 {left: 0; top: 46px; width: 24px;}
#touche32 {left: 24px; top: 46px; width: 24px;}
#touche33 {left: 48px; top: 46px; width: 24px;}
#touche34 {left: 72px; top: 46px; width: 24px;}
#touche41 {left: 0; top: 69px; width: 24px;}
#touche42 {left: 24px; top: 69px; width: 24px;}
#touche43 {left: 48px; top: 69px; width: 24px;}
#touche44 {left: 72px; top: 69px; width: 24px;}


#touche11 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche11 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche12 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche12 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche13 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche13 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche14 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche14 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche21 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche21 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche22 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche22 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche23 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche23 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche24 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche24 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche31 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche31 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche32 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche32 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche33 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche33 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche34 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche34 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche41 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche41 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche42 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche42 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche43 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche43 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}
#touche44 a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover.gif) no-repeat center center;}
#touche44 a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2.gif) no-repeat center center;}

.dropshadow{
	float:left;
	clear:left;
}


.innerbox{
	position:relative;
	bottom:6px;
	right: 6px;
	border: 0px solid #999999;
	margin: 0px 0px 0px 0px;

}


.fondnoir {
background: black;
color: white;
  text-align: center;
}

.fondgris {
background: gray;
}

.clcvcs {
border-collapse:collapse;
width: 229px;
height: 192px;
border: 0;
margin: 0;
padding: 0;
}

.clcvcs td,tr {
  border: 0;
  margin: 0;
  padding: 0;
}

.haut {
	height: 24px;
	text-align: right;
}

.haut div {
  margin-right: 15px;
}

.haut img {
	margin-top: 6px;
    border: 0;
}

#tc_divdeplace {
	z-index: 300;
}
.tc_fond {
	background-image: url("/img/cvcs/tc_fond.gif");
	background-repeat: no-repeat;
	background-position: top left;
	height: 168px;
	z-index: 300;
	filter:alpha(opacity:56);
	-moz-opacity: 0.56;
	KHTMLopacity:0.56;
    -khtml-opacity:0.56;
	opacity:0.56;
}
#tc_text {
	position: absolute;
	width: 229px;
	z-index: 301;
margin-bottom: 7px;
    border:0;
    margin:0;
    padding:0;
}
#tc_votre_code {
	margin-left: 21px;
	margin-top: 9px;
    margin-bottom: 7px;
    border:0;
    padding:0;
}
#tc_pass {
	margin-left: 21px;
	margin-top: 7px;
	margin-bottom: 7px;
    border:0;
    padding:0;
}
#tc_pass input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	border: 1px solid black;
	background-color: #F5F7F6;
  padding: 0;
  height: 18px;
	width: 94px;
}
#tc_pass img {
	vertical-align: top;
    border:0;
    margin:0;
    padding:0;
}
#tc_pass table {
   border-collapse:collapse;
   border:0;
   margin:0;
   padding:0;
}
#tc_pass_safari {
	margin-left: 21px;
	margin-top: 7px;
	margin-bottom: 7px;
  border:0;
  padding:0;
}
#tc_pass_safari input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid black;
	background-color: #F5F7F6;
  padding: 0;
	width: 94px;
}
#tc_pass_safari img {
	vertical-align: top;
  border:0;
  margin:0;
  padding:0;
}
#tc_pass_safari table {
  border-collapse:collapse;
  border:0;
  margin:0;
  padding:0;
}
#tc_aideimg {
  text-align: left;
}

#tc_clavier {
	position:absolute;
	left: 0px;
	top: 50px;
	z-index:302;
	border-collapse:collapse;
	border:0;
	margin-top: 2px;
	margin-left: 22px;
	padding:0;
}
#img_clavier {
	position:absolute;
	left: -1px;
	top: 49px;
	z-index:301;
	border-collapse:collapse;
	border:0;
	margin-top: 2px;
	margin-left: 22px;
	padding:0;
}
#tc_clavier td {
	border: 0;
}

#tc_corriger {
  border:0;
}

#tc_boutons {
  position:absolute;
  left: 139px;
  top:80px;
  z-index:301;
}

#tc_valider {
  border:0;
  margin-top: 14px;
}

.cvcslienbouton {color:black; text-decoration: none;}





#tc_tclavier_mv {
 width: 192px;
 height: 184px;
 margin: 5px ; padding: 0px;
 position: relative;
}

#tc_tclavier_mv li {margin: 0; padding: 0; list-style: none; position: absolute; }

#tc_tclavier_mv li, #tc_tclavier_mv a {height: 46px; display: block;}
#touche11_mv {left: 0; top: 0px; width: 48px;}
#touche12_mv {left: 48px; top: 0px; width: 48px;}
#touche13_mv {left: 96px; top: 0px; width: 48px;}
#touche14_mv {left: 144px; top: 0px; width: 48px;}
#touche21_mv {left: 0; top: 46px; width: 48px;}
#touche22_mv {left: 48px; top: 46px; width: 48px;}
#touche23_mv {left: 96px; top: 46px; width: 48px;}
#touche24_mv {left: 144px; top: 46px; width: 48px;}
#touche31_mv {left: 0; top: 92px; width: 48px;}
#touche32_mv {left: 48px; top: 92px; width: 48px;}
#touche33_mv {left: 96px; top: 92px; width: 48px;}
#touche34_mv {left: 144px; top: 92px; width: 48px;}
#touche41_mv {left: 0; top: 138px; width: 48px;}
#touche42_mv {left: 48px; top: 138px; width: 48px;}
#touche43_mv {left: 96px; top: 138px; width: 48px;}
#touche44_mv {left: 144px; top: 138px; width: 48px;}


#touche11_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche11_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche12_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche12_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche13_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche13_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche14_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche14_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche21_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche21_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche22_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche22_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche23_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche23_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche24_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche24_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche31_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche31_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche32_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche32_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche33_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche33_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche34_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche34_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche41_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche41_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche42_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche42_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche43_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche43_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}
#touche44_mv a:hover {background: transparent url(/img/cvcs/tc_touche_cache_hover_mv.gif) no-repeat center center;}
#touche44_mv a:active {background: transparent url(/img/cvcs/tc_touche_cache_click_1s2_mv.gif) no-repeat center center;}

.dropshadow_mv{
	float:left;
	clear:left;
}


.innerbox_mv{
	position:relative;
	bottom:6px;
	right: 6px;
	border: 0px solid #999999;
	margin: 0px 0px 0px 0px;
}


.fondnoir_mv {
background: black;
color: white;
border: 0px ;
  text-align: center;
}

.fondgris_mv {
background: gray;
}

.clcvcs_mv {
border-collapse:collapse;
width: 0px;
height: 0px;
border: 0px ;
margin: 0;
padding: 0;
}

.clcvcs_mv td,tr {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.haut_mv {
	height: 0px;
	text-align: right;
}

.haut_mv div {
  margin-right: 0px;
}

.haut_mv img {
	margin-top: 0px;
    border: 0;
}

 #tc_divdeplace_mv {
	z-index: 1;
}
.tc_fond_mv {
	background-image: url("/img/cvcs/tc_fond_mv.gif");
	background-repeat: no-repeat;
	background-position: top left;
	height: 336px;
	z-index: 2;
	opacity: 1.0;
}
#tc_text_mv {
	position: absolute;
	width: 0px;
	z-index: 2;
	border:0;
	margin:10;
	padding:0;
}
#tc_votre_code_mv {
	margin-left: 17px;
	margin-top: 7px;
	margin-bottom: 0;
	border:0;
	padding:0;
}
#tc_pass_mv {
	margin-left: 26px;
	margin-top: 7px;
	margin-bottom: 8px;
	border:0;
	padding:0;
}
#tc_pass_mv input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 44px;
	border: 2px solid black;
	background-color: #FFFFFF;
  padding: 0;
	width: 190px;
	left:33px;
}
#tc_pass_mv img {
	vertical-align: top;
	border:0;
	margin:0;
	padding:0;
}
#tc_pass_mv table {
   border-collapse:collapse;
   border:0;
   margin:0;
   padding:0;
}
#tc_aideimg_mv {
  text-align: left;
}

#tc_clavier_mv {
	position:absolute;
	left: -17px;
	top: 111px;
	z-index:3;
	border-collapse:collapse;
	border:0;
	margin-top: 4px;
	margin-left: 44px;
	padding:0;
}
#img_clavier_mv {
	position:absolute;
	left: -18px;
	top: 110px;
	z-index:3;
	border-collapse:collapse;
	border:1;
	margin-top: 4px;
	margin-left: 44px;
	padding:0;
}

#tc_clavier_mv td {
	border: 1;
}

#tc_corriger_mv {
  border:0;
}

#tc_boutons_mv {
  position:absolute;
  left: 245px;
  top: 115px;
  z-index:301;
}

#tc_valider_mv {
  border:0;
  margin-top: 20px;
}

.cvcslienbouton_mv {color:black; text-decoration: none;}

.inputFormulaire{
background-color: #f1f5fd;
color: #f1f5fd;
border: 0px;
height: 1px;
}
