body, table, td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;  
	color: black;
	text-decoration: none;  
	margin: 0 0;
	padding: 0 0;
}
table {
	border-collapse: collapse;
}
td, img {
	border: none;
	padding: 0;
	border: 0;
}
#global {
	width: 970px;
}
#principal{
	margin: 0 0;
	padding: 0 0;
}
#logosg {
	text-align: right;
}
.bandeaunoir {
	background-color: black;
	color: white;  
	text-decoration: none;
	height: 14px;
}
.bandeaunoir a {
	margin-right: 3px;
}
.devenirclient{
	float: right;
}
.bandeau10{
	vertical-align: top;
}

#bandeaugauche{
	background-image: url("../img/pac/bandeau_gauche_fond.gif");
	background-repeat: repeat-y;
}
#acces {
	background-image: url("../img/pac/menu_gauche_fond.gif");
	background-repeat: repeat-y;
	margin-left: 1px;
	margin-bottom: 5px;
}
#acces_haut {
	background-image: url("../img/pac/menu_gauche_haut.gif");
	background-repeat: no-repeat;
	height: 51px;
	text-align: right;
}
#acces_haut img {
	margin-bottom: 2px;
	margin-right: 5px;
}
#menubasgaucheconteneur div {
	margin-top: 3px
}
#menubasgauchecontenu div {
	margin-bottom: 0.5px
}
.acces_milieu {
}
.acces_milieu img {
	vertical-align: top;
	margin-left: 12px;
	height: 22px;
	margin-top: 0px;
}
.acces_milieu input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;  
	background-color: #F0F6FA;
	color: #000000;
	width: 85px;
	margin-left: 8px;
	margin-bottom: 7px;
}
.item {
	margin-top: 5px;
}
.item img {
	vertical-align: bottom;
}
.itemlien {
	color: white;  
	text-decoration: none;
	font-size: 11px;
}
.itemlien:hover {
	text-decoration: underline;
}
.bbdotted {
	margin-left:22px;
	margin-right:6px;
	border-bottom: 1px dotted white;
}
#acces_bas {
	padding-right: 4px;
	margin-left:22px;
	vertical-align: middle;
}
#acces_bas a {
	margin-left:5px;
	padding-right: 4px;
	vertical-align: middle;
}
A.bandeaunoir:hover {
	text-decoration: underline;
}
#titre {
	float: left;
	padding-left: 16px;
	padding-top: 44px;
}
A.item:hover {
	text-decoration: underline;
}
.bandeau{
	margin-left: 1px;
}
.bandeau .bandeaugauche{
	width: 130px;
	margin-bottom: 1px;
}
.aidecodeclient{
	margin-top: 30px;
}
.noMarge {
	margin-top: -50px;
	margin-bottom: -50px;
	font-size:0px;
	margin-left:-50px;
	top: -50px;
	left: -50px;
}
.noMarge img {	
	height: 1px;
	width: 1px;
	border: 0px;
}
.degrade_bleu img{
	WIDTH: 709px;
	height: 10px;
	margin-left: 130px;
}
.degrade_rouge img{
	WIDTH: 559px;
	height: 20px;
	margin-left: 280px;
}
#copyright {
	width: 130px;
	padding-left: 2px;
}
#copyright a {
	color: black;
	text-decoration: none;
}
#copyright a:hover {
	text-decoration: underline;
}
.fl1 {
	width: 65px;
	float: left;
}
.fl2 {
	width: 170px;
	float: left;
	margin-left: 7px;
}
.article_h {
	vertical-align:top;
	width: 265px;
	font-size: 10px;
	padding-top:12px;
	padding-left: 23px;
}
.article_b {
	vertical-align:top;
	width: 263px;
	font-size: 10px;
	padding-bottom:12px;
	padding-left: 23px;
}
.article_h div, .article_b div {
	margin-top: 5px; 
}
.article_h img, .article_b img {
	width:65px; 
}
.titactu {
	color: #4EA0B5;
	font-weight: bold;
	font-size: 11px;
}
.titactu a {
	color: #4EA0B5;
	font-weight: bold;
	font-size: 11px;
}
.lien {
	color: #4EA0B5;
	font-size: 11px;
}
.imgcentre_h {
	padding-top:12px;
	padding-bottom:12px;
	vertical-align:top;
	padding-left: 25px;
	width: 160px;
}
.imgcentre_b {
	padding-bottom:12px;
	vertical-align:top;
	padding-left: 25px;
	width: 160px;
}
.imgcentre_h img, .imgcentre_b img {
	text-align: center;
}
#bandeaudroit {
	width: 130px;
	background-image: url("../img/pac/bandeau_droit_fond.gif");
	background-repeat: repeat-y;
	vertical-align: top;
}
#bandeaubas  .bandeaunoir {
	height: 14px;
}
#menudroitebas {	
	margin-top: 4px;
	background-image: url("../img/pac/menu_bd_fond.gif");
}
#menudroitebas div {
	background-color: #69B3C4;
	margin-bottom: 1px;
	color: white;
	margin-top: 10px;
}
.focus {
	background-color: #69B3C4;
	color: white;
	text-decoration: none;
}
A.focus{
	vertical-align: top;
}
A.focus:hover {
	text-decoration: underline;
}
.focuscell{
	padding-top:2px;
	background-color: #69B3C4;
	width: 16px;
	height: 16px;
}
.focuscell2{
	padding-top:2px;
	padding-bottom:2px;
	background-color: #69B3C4;
	width: 110px;
	vertical-align: top;	
}