body {
	background-color: #E0E0E0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border: 0px solid black;
	border-width:0px;
}

td {
	border: 0px;
	padding: 0px;
}

#titleTable {
	background-image:url(../img/title.gif);
	background-position: center center;
 	background-repeat:no-repeat;
 	width: 800px;
	height:92px;
	background-color:#B4E5FF;
	color: #000000;
	text-align:center;
}

#menuTable {
	background-image:url(../img/Left_1x600.gif);
 	background-repeat:repeat-x;
 	width: 125px;
	height: 508px;
	background-color:#FFFFFF;
	color: #E8C149;
	font-size: 14px;
	font-family: courier;
}
#menuCell {
	padding-top:50px;
	padding-left:5px;
}
.menuLink { cursor: pointer; }

#content {
	font-size: 16px;
	font-family: courier;
	padding: 50px;
	color: #000000;
	vertical-align: top;
}

div.downloadable {
	background:transparent url(../img/BankReader.png);
	width:128px;
	height:128px;
}

div.disk-inactive {
	background-color: #FFFFFF;
	background:transparent url(../img/DiskClosed.png);
	width:128px;
	height:128px;
	position:absolute;
	top:400px;
}

div.disk-active {
	background-color: #FFF4D8;
	background:transparent url(../img/DiskOpen.png);
}