<form id="n2g_authentification" name="authentification" method="post" action="https://particuliers.secure.societegenerale.fr//acces/authlgn.html" onsubmit="return false;">

    <input type="text" id="codcli" name="codcli" value="" size="20" maxlength="8" class="form_connexion_home_zone" title="saisissez votre code client" autocomplete="off" />
    <input type="button" name="button" id="button" value="OK" title="Activation du clavier virtuel graphique" class="form_connexion_home_btn_ok"  
        onclick='if (n2g_ctrlSaisie(document.forms["n2g_authentification"].codcli, "Vous devez saisir votre code client.","La saisie de votre code client est incorrecte.\n Pour en savoir plus, cliquez sur le ? à côté du code client.","",false,n2g_estNumString,8))
        {vk.show();}'
    />
			
    <input type="text" id="tc_visu_saisie" value="" readonly size="6">
    <input id="versionCla" type="hidden" name="versionCla" value="">
    <input id="cryptocvcs" type="hidden" name="cryptocvcs" value="">
    <input id="cvcs_visu_cache" type="hidden" value="">
    <input type="hidden" name="codsec" id="codsec" value="">
    <input type="hidden" name="categNav" value="W3C">

    function VKvalidate() { 
        document.getElementById('versionCla').value = vk.getKeyboardMode();
        document.forms["authentification"].submit();
    } 
    vk = new VirtualKeyboard2(false, 'codsec', { validatefn: VKvalidate, urlBase: 'https://particuliers.secure.societegenerale.fr/', zones: [ {x:0, y:0, height:500} ] });
    
</form>
