<table class="table-client table-produit tableaux-comptes-livret">
	<caption>Livret AXA Banque 5109</caption>
	<thead>
		<tr>
			<th class="compte">Compte</th>
			<th class="libelle">Libell&#233;</th>
			<th class="montant">Montant (Eur)</th>
		</tr>
	</thead>
	<tbody>
		<tr class="ligne1">
			<td class="colonne_couleur_type_2 compte">Livret AXA Banque</td>
			<td class="colonne_couleur_type_2 libelle">M. BRICE RIVE 13114235109</td>
			<td class="colonne_couleur_type_1 montant"><strong>41&#160;631,47 </strong></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td class="liendetail"><a href="#" onclick="noDoubleClic(this);;return oamSubmitForm('_idJsp1','_idJsp1:tableaux-comptes-livret:0:_idJsp599',null,[['paramNumCompte','13114235109'],['paramNumContrat','181218'],['paramCodeProduit','8'],['paramCodeSousProduit','1']]);" id="_idJsp1:tableaux-comptes-livret:0:_idJsp599">D&#233;tail du Livret AXA Banque</a></td>
			<td colspan="2">
				<a href="#" onclick="return oamSubmitForm('_idJsp1','_idJsp1:tableaux-comptes-livret:0:_idJsp610',null,[['paramNumCompte','13114235109'],['paramSolde','41631.47']]);" id="_idJsp1:tableaux-comptes-livret:0:_idJsp610">Virement express</a>
			</td>

		</tr>
	</tfoot>
</table>