<table id="table-ssServices" class="table-client table-produit tabSansService">
	<caption>Les Services</caption>
	<thead>
		<tr>
			<th class="libelle">Libell&#233;</th>
			<th class="etat">Etat</th>
			<th class="depuis">Depuis le</th>
			<th class="infos">Plus d'infos</th>
		</tr>
	</thead>
	<tbody>
		<tr class="ligne1">
			<td colspan="4">
				Pour d&#233;couvrir la gamme compl&#232;te de Services qu'AXA Banque vous propose pour vous faciliter la vie,&nbsp;

				<a href='


				/portal/site/axabanque/menuitem.16f98ed9dbb461b0a724a724823101ca?vgnextoid=624ca208fbf32210VgnVCM100000c164cc0aRCRD&amp;fr.axabanque.oid=41cb23f405b7f110VgnVCM100000c164cc0aRCRD&amp;lang=fr




				' >
				cliquer ici</a>
			</td>
		</tr>
	</tbody>
</table>
