<table class="tableaux-comptes-courant table-client table-produit">
	<caption>
		Compte Courant 1509
	</caption>
	<thead>
		<tr>
			<th class="compte">
				Compte
			</th>
			<th class="libelle">
				Libell&#233;
			</th>
			<th class="montant">
				Montant (Eur)
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="ligne1">
			<td class="colonne_couleur_type_2 compte">
				<a href="#" onclick="noDoubleClic(this);;return oamSubmitForm('_idJsp1','_idJsp1:tableaux-comptes-courant:0:_idJsp184',null,[['paramCodeProduit','1'],['paramNumContrat','482711'],['paramCodeFamille','1'],['paramNumCompte','13114231509'],['paramCodeSousProduit','2']]);" id="_idJsp1:tableaux-comptes-courant:0:_idJsp184">Liquidit&#233;s</a>
			</td>
			<td class="colonne_couleur_type_2 libelle">
				M. BRICE RIVE 13114231509
			</td>
			<td class="colonne_couleur_type_1 montant"><strong>
				3&#160;493,71 </strong></td>
			</tr>



			<tr class="ligne1">
				<td class="colonne_couleur_type_2 compte"><a href="#" onclick="noDoubleClic(this);;return oamSubmitForm('_idJsp1','_idJsp1:tableaux-comptes-courant:0:tableaux-comptes-courant-cartes:0:_idJsp201',null,[['paramCodeProduit','9'],['paramNumContrat','104989'],['paramNumCompte','13114231509']]);" id="_idJsp1:tableaux-comptes-courant:0:tableaux-comptes-courant-cartes:0:_idJsp201">Visa Classique</a>
					<img src="/webapp/axabanque/images/CB_mer_icone.gif" height='14'  width='22' />
					&nbsp;


				</td>
				<td class="colonne_couleur_type_2 libelle">M. BRICE RIVE xxxx xxxx xxxx 2481</td>
				<td class="colonne_couleur_type_1 montant"><strong>D&#233;bit Imm&#233;diat</strong></td>
			</tr>


			<tr class="ligne1">
				<td class="colonne_couleur_type_2 compte">
					<a href="#" onclick="noDoubleClic(this);;return oamSubmitForm('_idJsp1','_idJsp1:tableaux-comptes-courant:0:_idJsp221',null,[['paramNumCompte','13114231509'],['paramCodeFamille','1'],['paramCodeProduit','1'],['paramLiquidite','3493.71'],['paramIntitule','M. BRICE RIVE']]);" id="_idJsp1:tableaux-comptes-courant:0:_idJsp221">Sommes investies</a>
				</td>
				<td class="colonne_couleur_type_2 libelle">&nbsp;</td>
				<td class="colonne_couleur_type_1 montant"><strong>
					0,00 
				</strong></td>
			</tr>

		</tbody>
		<tfoot>
			<tr>
				<td class="liendetail">
					<a href="#" onclick="" id="">D&#233;tail du Compte Courant</a>
				</td>
				<td colspan="2">
					<a href="#" onclick="">Seuil et FCP</a><a href="#" onclick="" id="">Virement express</a><a href="#" onclick="" id="">Ch&#233;quier</a>
					&nbsp;<a href="#" onclick="" id="">S&#233;quence Budget</a><input type="hidden" name="linkContenuRedirect" value='' /></td>

				</tr>
			</tfoot>
		</table>